.page-layout {
  display: flex;
  height: calc(100vh - 56px);
  overflow: hidden;
}

.page-content {
  flex-grow: 1;
  margin-left: 240px; /* Match the width of the sidebar */
  overflow-y: auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .page-content {
    margin-left: 0;
  }
}